.contentPane {
	-fx-background-color: white;
	-fx-background-radius: 5px;
}

.titre {
	-fx-font-family: FontLight;
	-fx-font-size: 17px;
}

.statBig {
	-fx-font-family: FontRegular;
	-fx-font-size: 45px;
}

.journeeDate {
	-fx-font-family: FontLight;
	-fx-font-size: 16px;
}

.nomEquipe {
	-fx-font-family: FontRegular;
	-fx-font-size: 15px;
}

.versus {
	-fx-font-family: FontLight;
	-fx-font-size: 12px;
}

.recapLight {
	-fx-font-family: FontLight;
	-fx-font-size: 18px;
}

.etatEquipe {
	-fx-font-family: FontThin;
	-fx-font-size: 15px;
}

.miniNomEquipe {
	-fx-font-family: FontThin;
	-fx-font-size: 12px;
}

.scoreMatch {
	-fx-font-family: FontBold;
	-fx-font-size: 30px;
}

.titreMatch {
	-fx-font-family: FontRegular;
	-fx-font-size: 24px;
}

.titreStatLight {
	-fx-font-family: FontLight;
	-fx-font-size: 24px;
}

.nombreStatistique {
	-fx-font-family: FontThin;
	-fx-font-size: 16px;
}

.texteStatistique {
	-fx-padding: 10px 0 0 10px;
	-fx-font-family: FontLight;
	-fx-font-size: 16px;
}

#titrePane {
	-fx-border-color: transparent transparent f3f3f3 transparent;
	-fx-border-width: 1.5px;
}

#panneauGauche, #panneauGauche #accordeon, #panneauGauche .titledPanes, #panneauGauche .titledPanesListView{
	-fx-background-color: transparent;
}

.signePrincipalGauche {
	-fx-font-family: principal;
	-fx-font-size: 17px;
}

.signeRankGauche {
	-fx-font-family: rank;
	-fx-font-size: 17px;
}

.signeRankGaucheBig {
	-fx-font-family: rank;
	-fx-font-size: 30px;
}

.etape {
	-fx-font-family: FontRegular;
	-fx-font-size: 30px;
}

.etapeLight {
	-fx-font-family: FontLight;
	-fx-font-size: 30px;
}

.sous-titre, .recapDate, .recapNbr {
	-fx-font-family: FontThin;
	-fx-font-size: 18px;
}

.titreSmall {
	-fx-font-family: FontLight;
	-fx-font-size: 24px;
}

.signeFlaticonGauche {
	-fx-font-family: flaticon;
	-fx-font-size: 17px;
}

.signeCalendarGauche {
	-fx-font-family: calendarfont;
	-fx-font-size: 17px;
}

.textGauche, .texteTimer {
	-fx-font-family: FontRegular;
	-fx-font-size: 18px;
}

.panneauGaucheButton {
	-fx-background-color: transparent;
	-fx-padding: 5px 0.0 5px 0.0;
}

.panneauGaucheButton:hover {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-border-insets: -2px -0.5px -2px -15px;
}

.panneauGaucheButtonpressed, .panneauGaucheButtonpressed:hover {
	-fx-background-color: #00bc47;
	-fx-background-radius: 3px;
	-fx-background-insets: -2px -0.5px -2px -15px;
	-fx-border-color: #009a3a;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-border-insets: -2px -0.5px -2px -15px;
}

.panneauGaucheButtonpressed .signePrincipalGauche, .panneauGaucheButtonpressed .signeCalendarGauche,
.panneauGaucheButtonpressed .signeRankGauche, .panneauGaucheButtonpressed .signeFlaticonGauche, 
.panneauGaucheButtonpressed .textGauche,
.panneauGaucheButtonpressed .signePrincipalGauche, .panneauGaucheButtonpressed .signeCalendarGauche,
.panneauGaucheButtonpressed .signeRankGauche, .panneauGaucheButtonpressed .signeFlaticonGauche, 
.panneauGaucheButtonpressed .textGauche {
	-fx-fill: white;
}

.explicationsTexte {
	-fx-font-size: 18px;
	-fx-font-family: FontLight;
	-fx-padding: 5px 30px 10px 20px;
}

.explicationsTexteGras {
	-fx-font-family: FontRegular;
}

.panneauMilieu {
	-fx-padding: 10px;
}

.panneauMilieuClassement, .panneauMilieuMatchs {
	-fx-padding: 10px 10px 25px 10px;
}

.podiumGrid {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-padding: 20px 10px 20px 30px;
}

.prochainsMatchsGrid {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0 0 0 0.5px;
	-fx-padding: 15px 0 0 30px;
}

.podiumPoints {
	-fx-font-family: FontThin;
}

.customListView {
	-fx-background-color: transparent;
	-fx-padding: 0;
}

.customListView .list-view,
.customListView .list-view:focused {
    -fx-background-color: transparent;
}

.customListView .list-cell {
	-fx-padding: 0px;
	-fx-background-color: transparent;
}

.podiumLV .list-cell {
	-fx-padding: 12px 0 0 0;
	-fx-font-family: FontLight;
	-fx-text-fill: #292929;
	-fx-font-size : 18px;
}

.actionLV {
	-fx-padding: 0 10px 0 10px;
}

.actionLV .list-cell {
	-fx-padding: 0 0 12px 0;
	-fx-font-family: FontLight;
	-fx-text-fill: #292929;
	-fx-font-size : 18px;
}

.prochainsLV .list-cell {
	-fx-font-family: FontThin;
	-fx-font-size: 16,5px;
	-fx-padding: 10px 0 0 0;
}

.customListView .list-cell:odd {
    -fx-background-color: transparent;
}

.customListView .list-cell:selected {
	-fx-text-fill: #292929;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
}

.podiumNumber {
	-fx-font-family: FontRegular;
}

.podiumNumberBig {
	-fx-font-family: FontRegular;
	-fx-font-size: 18px;
}

.actionButton {
	-fx-font-family: FontThin;
	-fx-font-size: 15px;
	-fx-text-fill: #515151;
	-fx-background-color: transparent;
 	-fx-border-color: #dedede;
 	-fx-border-radius: 3px;
 	-fx-min-width: 180px;
 	-fx-padding: 2px 0 2px 0;
 	-fx-cursor: hand;
}

.bigActionButton {
	-fx-font-family: FontThin;
	-fx-font-size: 20px;
	-fx-text-fill: #515151;
	-fx-background-color: transparent;
 	-fx-border-color: #dedede;
 	-fx-border-radius: 3px;
 	-fx-min-width: 250px;
 	-fx-padding: 2px 0 2px 0;
 	-fx-cursor: hand;
}

.downloadButton {
	-fx-font-family: recapitulatif;
	-fx-font-size: 15px;
	-fx-text-fill: #515151;
	-fx-background-color: transparent;
 	-fx-border-color: #dedede;
 	-fx-border-radius: 3px;
 	-fx-min-width: 25px;
 	-fx-padding: 2px 0 2px 0;
 	-fx-cursor: hand;
}

.downloadButton:hover, .actionButton:hover, .bigActionButton:hover {
 	-fx-border-color: #aaaaaa;
 	-fx-text-fill: #292929;
 	-fx-padding: 2px 0 2px 0;
 }
 
.downloadButton:pressed, .downloadButton:hover:pressed,
.actionButton:pressed, .actionButton:hover:pressed,
.bigActionButton:pressed, .bigActionButton:hover:pressed {
	-fx-padding: 2px 0 2px 0;
	-fx-background-color: #00bc47;
	-fx-background-radius: 3px;
	-fx-text-fill: white;
	-fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 3);
	-fx-border-color: #009a3a;
	-fx-border-width: 0.5px
}

.customTableView, .customTableView2 {
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 10px;
}

.customTableView .table-row-cell, .customTableView .table-row-cell:odd, .customTableView .table-row-cell:focused,
.customTableView .table-row-cell:focused:odd, .table-view .column-drag,
.customTableView2 .table-row-cell, .customTableView .table-row-cell:odd, .customTableView2 .table-row-cell:focused,
.customTableView2 .table-row-cell:focused:odd, .table-view .column-drag {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.customTableView .table-cell, .customTableView2 .table-cell {
    -fx-padding: 2px 2px 20px 2px; /* 2px, plus border adds 1px */
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cell-size: 2.0em;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-background-color: transparent;
}

.table-view .column-drag-header {
	-fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
}

.table-view .column-resize-line {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.table-view .column-overlay {
	-fx-background-color: transparent;
	-fx-opacity: 1;
	-fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 15px;
    -fx-font-family: FontLight;
    -fx-alignment: center-left;
}

.signeRecapitulatif {
	-fx-font-family: recapitulatif;
	-fx-font-size: 18px;
}

.classementPane, .matchsPane {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-padding: 20px 30px 0px 30px;
}

.classementTableView, .matchsTableView {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px 0 0 0;
	-fx-padding: 10px 0 0 0;
}

.customTableView2 .table-cell {
    -fx-padding: 2px 2px 17px 2px; /* 2px, plus border adds 1px */
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cell-size: 2.0em;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected .recapDate {
	-fx-text-fill: #292929;
}

#barreMilieu .list-view {
	-fx-background-color: transparent;
	-fx-border-color: #d1d1d1;
	-fx-border-width: 0.5px 0 0.5px 0;
}

#barreMilieu .list-cell {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-padding: 5px 20px 5px 20px;
}

#barreMilieu .placeholder2 {
	-fx-font-family: FontThin;
	-fx-font-size: 18px;
	-fx-text-fill: #d1d1d1;
}

#barreMilieu .list-cell:odd {
	-fx-background-color: transparent;
}

#barreMilieu .list-cell:filled:hover {
	-fx-border-color: #d1d1d1;
	-fx-border-radius: 3px;
	-fx-border-width: 0.5px;
	-fx-background-color: #f5f5f5;
	-fx-background-radius: 3px;
}

#barreMilieu .list-cell:filled:selected {
	-fx-background-color: #3b3b3b;
	-fx-border-color: #313131;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
}

#barreMilieu .list-cell:filled:selected .label,
#barreMilieu .list-cell:filled:selected:hover .label{
	-fx-text-fill: white;
}

/*
 * Barre recherche
 */
 
.recherche-box {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-padding: 3px 10px 3px 10px;
}
 
.champ-recherche {
	-fx-font-family: FontLight;
	-fx-font-size: 15px;
 	-fx-background-color: transparent;
 	-fx-highlight-fill: #00bc47;
    -fx-highlight-text-fill: white;
 	-fx-padding: 0;
}
 
.signe-recherche {
 	-fx-font-family: calendarfont;
 	-fx-font-size: 10px;
}

.infoMatch {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-padding: 10px 20px 0 20px;
}

.recapMatch {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0 0 0.5px 0;
	-fx-padding: 0 10px 10px 10px;
}

.pasMatch {
	-fx-font-family: FontLight;
	-fx-font-size: 60px;
}

.titleStatGrid {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0 0 0.5px 0;
	-fx-padding: 0 0 10px 0;
}

.statScrollPane {
	-fx-background-color: transparent;
	-fx-border-color: #c8c8c8;
	-fx-border-radius: 3px;
	-fx-border-width: 0.5px;
}

.statScrollPane .viewport {
	-fx-background-color: transparent;
}

.statistiqueGrid {
	-fx-padding: 15px 15px 15px 15px;
}

.roleJoueur, .ageJoueur {
	-fx-font-family: FontLight;
	-fx-font-size: 12px;
}

.iconeJoueur {
	-fx-font-family: flaticon;
	-fx-font-size: 15px;
	-fx-text-fill: #d0d0d0;
}

.nomJoueur {
	-fx-font-family: FontRegular;
	-fx-font-size: 15px;
}

.chart-legend {
	-fx-background-color: transparent;
}

.axis-label {
	-fx-font-family: FontLight;
	-fx-font-size: 17px;
}

.chart-legend-item { 
	-fx-font-family: FontLight;
	-fx-font-size: 15px;
}

.chart-vertical-grid-lines, .chart-horizontal-grid-lines {
    -fx-stroke: #e2e2e2;
}

.axis Text{
    -fx-font-family: FontThin;
	-fx-font-size: 13px;
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.chart-line-symbol {
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
    -fx-padding: 4px;
}

.default-color0.chart-series-line { 
	-fx-stroke: #00bc47;
}
.default-color1.chart-series-line { 
	-fx-stroke: #c8c8c8;
}
.default-color2.chart-series-line { 
	-fx-stroke: #414141;
}
.default-color0.chart-line-symbol { 
	-fx-background-color: #00bc47;
}
.default-color1.chart-line-symbol { 
	-fx-background-color: #c8c8c8;
}
.default-color2.chart-line-symbol { 
	-fx-background-color: #414141;
}

.tooltip {
    -fx-text-fill: white;
    -fx-background-color: #3b3b3b;
    -fx-background-radius: 4px;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-radius: 4px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.0, 2, 2);
    -fx-font-family: FontLight;
	-fx-font-size: 14px;
}