#DatePane, #EquipePane, #ResumePane {
	-fx-background-color: white;
	-fx-background-radius: 5px;
}

#titrePane {
	-fx-border-color: transparent transparent f3f3f3 transparent;
	-fx-border-width: 1.5px;
}

#grilleBas {
	-fx-border-color: f3f3f3 transparent transparent transparent;
	-fx-border-width: 1.5px;
}

.signeEquipeTitledPane {
	-fx-font-family: fontello;
	-fx-font-size: 17px;
}

.etapeEquipeSigne {
	-fx-font-family: flaticon;
	-fx-font-size: 36px;
}

#titre {
	-fx-font-family: FontLight;
	-fx-font-size: 17px;
}

#signeCalendrier {
	-fx-font-family: calendarfont;
	-fx-font-size: 30px;
}

.etape {
	-fx-font-family: FontRegular;
	-fx-font-size: 30px;
}

.equipeTitledPane {
	-fx-font-family: FontRegular;
	-fx-font-size: 18px;
}

.titledPaneTitleNombre {
	-fx-fill: #bababa;
	-fx-font-family: FontThin;
	-fx-font-size: 12.5px;
}

#lDateListView, #lNombreEquipes, .CalendarPicker {
	-fx-font-family: FontLight;
	-fx-font-size: 18px;
}

.flowPresentationDates {
	-fx-line-spacing: 3px;
	-fx-font-family: FontLight;
	-fx-font-size: 18px;
}

#grilleContenu {
	-fx-border-color: #f3f3f3 transparent f3f3f3 transparent;
	-fx-border-width: 1.5px;
}

#grilleDateRetenues {
	-fx-border-color: #dedede;
	-fx-border-radius: 2px;
}

#dateListView {
	-fx-border-color: #dedede transparent transparent transparent;
}

/*
 * BOUTON CONTINUER
 */
#bottomButton {
 	-fx-font-family: FontThin;
 	-fx-font-size: 17px;
 	-fx-background-color: transparent;
 	-fx-border-color: #dedede;
 	-fx-border-radius: 3px;
 	-fx-min-width: 100px;
 	-fx-padding: 4px 0 4px 0;
 }
 
#bottomButton:hover {
 	-fx-border-color: #aaaaaa;
 	-fx-padding: 4px 0 4px 0;
 }
 
#bottomButton:pressed, #bottomButton:hover:pressed {
	-fx-padding: 4px 0 4px 0;
	-fx-background-color: #00bc47;
	-fx-background-radius: 3px;
	-fx-text-fill: white;
	-fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 3);
	-fx-border-color: transparent;
}

/*
 * LISTCELL
 */

#grilleDateRetenues .list-view,
#grilleDateRetenues .list-view:focused {
    -fx-background-color: transparent;
    -fx-padding: 10 0 0 0;
}

#grilleDateRetenues .list-cell {
	-fx-font-family: FontThin;
	-fx-font-size : 18px;
}

#grilleDateRetenues .list-cell:odd {
    -fx-background-color: transparent;
}

#grilleDateRetenues .list-cell:selected {
	-fx-text-fill: black;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
}

/*
 * CALENDARPICKER
 */

.CalendarPicker {
	-fxx-show-weeknumbers: NO;
}

.CalendarPicker .ListSpinner {
    -fxx-arrow-position: split;
    -fxx-value-alignment: center;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
}

.CalendarPicker .ListSpinner .left-arrow:pressed, .CalendarPicker .ListSpinner .right-arrow:pressed,
.CalendarPicker .ListSpinner .left-arrow:hover:pressed, .CalendarPicker .ListSpinner .right-arrow:hover:pressed {
	-fx-background-color: #00bc47;
}

.CalendarPicker .weekend {
	-fx-text-fill: #acacac;
}

.CalendarPicker .weekday-label {
	-fx-text-fill: black;
	-fx-alignment: center-left;
}

.CalendarPicker .day-button {
	-fx-shape: "M0,1a1,1 0 1,0 2,0a1,1 0 1,0 -2,0";
	-fx-background-color: transparent;
	-fx-max-width: 30px;
	-fx-min-height: 30px;
	-fx-padding: 2px 2px 2px 2px;
}

.CalendarPicker .day-button:hover {
	-fx-border-color: #939393;
	-fx-border-width: 0.5px;
	-fx-padding: 2px 2px 2px 2px;
}

.CalendarPicker .day-button:selected:hover {
	-fx-background-color: #00d04f;
}

.CalendarPicker .day-button:selected {
	-fx-border-color: transparent;
	-fx-background-color: #00bc47;
	-fx-text-fill: white;
}

#equipeListView .scroll-bar {
	-fx-padding:-7;
	-fx-opacity: 0;
}

#panneauGauche, #panneauGauche #accordeon, #panneauGauche #equipePane, #panneauGauche #equipeListView{
	-fx-background-color: transparent;
}

#panneauGauche #accordeon {
	-fx-border-width: 0 0 0.5px 0;
	-fx-border-color: #d1d1d1;
	-fx-border-insets: 0 11px 0 0;
}

#panneauGauche .scroll-pane .viewport {
	-fx-background-color: transparent;
}

#panneauGauche .titled-pane *.content {
	-fx-background-color: transparent;
	-fx-border-color: null;
	-fx-padding: 10px 0 0 0;
}

#panneauGauche .titled-pane .title {
	-fx-background-color: transparent;
	-fx-border-width: 0 0 0.5px 0;
	-fx-border-color: #d1d1d1;
	-fx-border-insets: 0 0 -6px 0;
}

.titleCellSelected {
	-fx-background-color: #00bc47;
	-fx-background-radius: 3px;
	-fx-background-insets: -5px -10px -5px -10px;
	-fx-border-color: #009a3a;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-border-insets: -5px -10px -5px -10px;
	-fx-effect: innershadow(three-pass-box, rgba(255,255,255,0.2), 0, 0, 0, 2);
}

.titledPaneTitleNombreSelected, .titledPaneTitleSigneSelected, .titledPaneTitleTexteSelected {
	-fx-fill: white;
}

#panneauGauche .list-cell {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-padding: 7px 0 7px 15px;
}

#panneauGauche .list-cell:odd {
	-fx-background-color: transparent;
	-fx-padding: 7px 0 7px 15px;
}

#placeholder {
	-fx-padding: 7px 0 7px 15px;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-text-fill: #9e9e9e;
	-fx-font-family: FontLight;
	-fx-font-size: 15px;
}

#panneauGauche .list-cell .label {
	-fx-text-fill: #9e9e9e;
	-fx-font-family: FontLight;
	-fx-font-size: 15px;
	-fx-padding: 0;
}

#panneauGauche .list-cell .labelNombre {
	-fx-text-fill: #bababa;
	-fx-font-family: FontThin;
	-fx-font-size: 12.5px;
	-fx-padding: 0;
}

#panneauGauche .list-cell:hover, #panneauGauche .list-cell:odd:hover {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-border-insets: 2px 5px 2px 10px;
	-fx-padding: 7px 0 7px 15px;
}

#panneauGauche .list-cell:selected, #panneauGauche .list-cell:odd:selected {
	-fx-padding: 7px 0 7px 15px;
	-fx-background-color: #00bc47;
	-fx-background-radius: 3px;
	-fx-background-insets: 2px 5px 2px 10px;
	-fx-border-color: #009a3a;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-border-insets: 2px 5px 2px 10px;
	-fx-effect: innershadow(three-pass-box, rgba(255,255,255,0.2), 0, 0, 0, 2);
}

#panneauGauche .list-cell:selected .label, #panneauGauche .list-cell:odd:selected .label,
#panneauGauche .list-cell:selected:hover .label, #panneauGauche .list-cell:odd:selected:hover .label {
	-fx-text-fill: white;
}

#panneauGauche .list-cell:selected .cell-drag-over, #panneauGauche .list-cell:odd:selected .cell-drag-over,
#panneauGauche .list-cell .cell-drag-over, #panneauGauche .list-cell:odd .cell-drag-over{
	-fx-text-fill: #3b3b3b;
}

#panneauGauche .list-cell:hover .label, #panneauGauche .list-cell:odd:hover .label {
	-fx-text-fill: #8b8b8b;
}

#panneauGauche .scroll-bar .thumb {
	-fx-background-insets: 0 -10px 0 15px;
}

/* Grille Explication */

.explicationsGrid {
	-fx-border-color: #dedede;
	-fx-border-width: 1px;
	-fx-border-radius: 3px;
	-fx-padding: 30px;
}

.explicationsTexte {
	-fx-font-size: 18px;
	-fx-font-family: FontLight;
}

.explicationsTexteGras {
	-fx-font-family: FontRegular;
}

/*
 * Bouton d'ajout (écran selection equipe)
 */
 
.addButton {
	-fx-background-color: transparent;
 	-fx-font-family: FontLight;
 	-fx-font-size: 15px;
 	-fx-text-fill: #9e9e9e;
}

.addButton:hover {
	-fx-text-fill: #686868;
}

.addButton:pressed {
	-fx-text-fill: #00a83f;
}

#barreMilieu .list-view {
	-fx-background-color: transparent;
	-fx-border-color: #d1d1d1;
	-fx-border-width: 0.5px 0 0.5px 0;
}

#barreMilieu .list-cell {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-padding: 5px 20px 5px 20px;
}

#barreMilieu .placeholder2 {
	-fx-font-family: FontThin;
	-fx-font-size: 18px;
	-fx-text-fill: #d1d1d1;
}

#barreMilieu .list-cell:odd {
	-fx-background-color: transparent;
}

#barreMilieu .list-cell:filled:hover {
	-fx-border-color: #d1d1d1;
	-fx-border-radius: 3px;
	-fx-border-width: 0.5px;
	-fx-background-color: #f5f5f5;
	-fx-background-radius: 3px;
}

#barreMilieu .list-cell:filled:selected {
	-fx-background-color: #3b3b3b;
	-fx-border-color: #313131;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
}

#barreMilieu .list-cell:filled:selected .label,
#barreMilieu .list-cell:filled:selected:hover .label{
	-fx-text-fill: white;
}

.roleJoueur, .ageJoueur {
	-fx-font-family: FontLight;
	-fx-font-size: 12px;
}

.iconeJoueur {
	-fx-font-family: flaticon;
	-fx-font-size: 15px;
	-fx-text-fill: #d0d0d0;
}

.nomJoueur {
	-fx-font-family: FontRegular;
	-fx-font-size: 15px;
}

/*
 * Barre recherche
 */
 
.recherche-box {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-padding: 3px 10px 3px 10px;
}
 
.champ-recherche {
	-fx-font-family: FontLight;
	-fx-font-size: 15px;
 	-fx-background-color: transparent;
 	-fx-highlight-fill: #00bc47;
    -fx-highlight-text-fill: white;
 	-fx-padding: 0;
}
 
.signe-recherche {
 	-fx-font-family: calendarfont;
 	-fx-font-size: 10px;
}

.pasJoueur {
	-fx-font-family: FontLight;
	-fx-font-size: 60px;
}

.titreEquipe {
	-fx-font-family: FontLight;
	-fx-font-size: 30px;
}

.pasJoueurGrid {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-padding: 10px 10px 0 20px;
}

.joueurGrid {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-padding: 10px 10px 0 10px;
	-fx-highlight-fill: #00bc47;
    -fx-highlight-text-fill: white;
}

.prenomJoueurEquipe {
	-fx-font-family: FontLight;
	-fx-font-size: 60px;
}

.nomJoueurEquipe {
	-fx-font-family: FontLight;
	-fx-font-size: 90px;
}

.nomCompletJoueurEquipe {
	-fx-line-spacing: -10px;
	-fx-padding: 0 0 0 8px;
}

.nomCompletJoueurEquipe:hover {
	-fx-cursor: text;
}

.infosJoueurEquipe {
	-fx-font-family: FontLight;
	-fx-font-size: 18px;
	-fx-padding: 20px;
	-fx-line-spacing: 15px;
}

.infosEquipe {
	-fx-font-family: FontLight;
	-fx-font-size: 18px;
	-fx-padding: 10px 0px 20px 0px;
	-fx-line-spacing: 15px;
	-fx-border-width: 0.5px 0 0 0;
	-fx-border-color: #c8c8c8;
}

.valeurEquipe, .valeurEquipeUnmutable {
	-fx-font-family: FontThin;
	-fx-font-size: 18px;
	-fx-fill: #666666;
}

.valeurEquipe:hover {
	-fx-cursor: text;
}

.editField {
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-background-insets: -10px;
    -fx-background-radius: 0;
    -fx-text-fill: black;
    -fx-highlight-fill: #e8e8e8;
    -fx-highlight-text-fill: black;
}

.nomEquipeEdit {
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-background-insets: -10px;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-highlight-fill: #3b3b3b;
    -fx-highlight-text-fill: white;
}

.nomCompletScroll {
	-fx-background-color: transparent;
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0 0 0.5px 0;
}

.nomCompletScroll .viewport {
	-fx-background-color: transparent;
}

/*
 * TOOLTIP
 */

/*.tooltip {
    -fx-text-fill: black;
    -fx-background-color: rgba(255,255,255);
    -fx-background-radius: 4px;
    -fx-background-insets: 0;
    -fx-border-color: #c8c8c8;
    -fx-border-width: 0.5px;
    -fx-border-radius: 4px;
    -fx-padding: 10px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 3, 0.0 , 1 ,1 );
    -fx-font-family: FontLight;
	-fx-font-size: 14px;
}*/

.tooltip {
    -fx-text-fill: white;
    -fx-background-color: #3b3b3b;
    -fx-background-radius: 4px;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-radius: 4px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.0, 2, 2);
    -fx-font-family: FontLight;
	-fx-font-size: 14px;
}

/*
 * RESUME
 */
 
.signeResume {
	-fx-font-family: resume;
	-fx-font-size: 30px;
}