.infosJoueurEquipe .combo-box {
	-fx-font-family: FontThin;
	-fx-font-size: 18px;
}

.infosJoueurEquipe .combo-box > .list-cell {
	-fx-padding: 0;
	-fx-text-fill: #666666;
}

.infosJoueurEquipe .combo-box-base {
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.infosJoueurEquipe .combo-box-base > .arrow-button {
	-fx-padding: 0;
}

.infosJoueurEquipe .combo-box-base > .arrow-button > .arrow {
	-fx-shape: "M34.211,59.307l-1.414-1.414L49.999,40.69l17.205,17.205l-1.414,1.414L49.999,43.519L34.211,59.307z";
	-fx-rotate: 180;
	-fx-text-fill: red;
	-fx-background-color: #9d9d9d;
}

.infosJoueurEquipe .combo-box-popup .list-cell {
	-fx-text-fill: #666666;
	-fx-background-color: transparent;
	-fx-padding: 5px;
}

.infosJoueurEquipe .combo-box-popup .list-cell:filled:selected,
.infosJoueurEquipe .combo-box-popup .list-cell:filled:selected:hover {
	-fx-background-color: #00bc47;
	-fx-text-fill: white;
	-fx-background-radius: 3px;
}

.infosJoueurEquipe .combo-box-popup .list-cell:filled:hover {
	-fx-background-color: #f5f5f5;
	-fx-background-radius: 3px;
}

.infosJoueurEquipe .combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 2, 2);
}