#fenetre
{
	-fx-background-radius: 2.5px;
	-fx-background-insets: 25;
	-fx-background-color: rgb(255,255,255);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 25, 0, 4, 4);
}

#closeButton {
	-fx-background-color: transparent;
	-fx-border-color: #dedede;
	-fx-shape: "M0,1a1,1 0 1,0 2,0a1,1 0 1,0 -2,0";
	-fx-text-alignment: center;
	-fx-font-family: calendarfont;
	-fx-font-size: 10px;
	-fx-text-fill: #cecece;
	-fx-padding: 0px 4px 1px 4px;
}

#closeButton:hover {
	-fx-padding: 0px 4px 1px 4px;
	-fx-border-color: #cecece;
	-fx-text-fill: #b2b2b2;
}

#closeButton:hover:pressed, #closeButton:pressed {
	-fx-padding: 0px 4px 1px 4px;
	-fx-text-fill: white;
	-fx-background-color: #cecece;
	-fx-border-color: #acacac;
	-fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.scroll-bar {
	-fx-background-color: transparent;
}

.scroll-bar .thumb {
	-fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 10px;
}

.scroll-bar .track {
    -fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0px;
	-fx-border-radius: 2px;
	-fx-opacity: 0;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0px;
	-fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color: transparent;
	-fx-background-radius: 0px;
	-fx-padding: 0 10 0 0;

}

.scroll-bar .decrement-button .decrement-arrow,
.scroll-bar .increment-button .increment-arrow{
    -fx-shape: " ";	
	-fx-padding:0;
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

.scroll-pane {
	-fx-skin: "vue.fenetreCreation.ScrollPaneSkin";
}