.contentPane {
	-fx-background-color: white;
	-fx-background-radius: 5px;
}

.panePrincipalPadding {
	-fx-padding: 20px;
}

.titreCompteRendu {
	-fx-font-family: FontRegular;
	-fx-font-size: 18px;
}

.explications {
	-fx-font-family: FontLight;
	-fx-font-size: 18px;
}

.selectionnerButton {
	-fx-font-family: FontThin;
	-fx-font-size: 18px;
	-fx-text-fill: #515151;
	-fx-background-color: transparent;
 	-fx-border-color: #dedede;
 	-fx-border-radius: 3px;
 	-fx-min-width: 280px;
 	-fx-padding: 1px 0 1px 0;
 	-fx-cursor: hand;
}

.timerButton {
	-fx-font-family: FontThin;
	-fx-font-size: 18px;
	-fx-text-fill: #515151;
	-fx-background-color: transparent;
 	-fx-border-color: #dedede;
 	-fx-border-radius: 3px;
 	-fx-min-width: 180px;
 	-fx-padding: 1px 0 1px 0;
 	-fx-cursor: hand;
}

.timer {
	-fx-font-family: FontRegular;
	-fx-font-size: 36px;
}

.selectionnerButton:hover, .timerButton:hover {
 	-fx-border-color: #aaaaaa;
 	-fx-text-fill: #292929;
 	-fx-padding: 1px 0 1px 0;
 }
 
.selectionnerButton:pressed, .selectionnerButton:hover:pressed,
.timerButton:pressed, .timerButton:hover:pressed {
	-fx-padding: 1px 0 1px 0;
	-fx-background-color: #00bc47;
	-fx-background-radius: 3px;
	-fx-text-fill: white;
	-fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 3);
	-fx-border-color: #009a3a;
	-fx-border-width: 0.5px
}

/* 
 * INTERFACE PRINCIPALE
 */

#titrePane {
	-fx-border-color: transparent transparent f3f3f3 transparent;
	-fx-border-width: 1.5px;
}

.titreFenetre {
	-fx-font-family: FontLight;
	-fx-font-size: 17px;
}

#panneauGauche, #panneauGauche #actionsPane, #equipesAnchorPane{
	-fx-background-color: transparent;
}

#panneauGauche .titled-pane {
	-fx-border-width: 0 0 0.5px 0;
	-fx-border-color: #d1d1d1;
	-fx-border-insets: 0 11px 0 0;
}

#panneauGauche .titled-pane *.content {
	-fx-background-color: transparent;
	-fx-border-color: null;
	-fx-padding: 10px 0 0 0;
}

#panneauGauche .titled-pane .title {
	-fx-background-color: transparent;
	-fx-border-width: 0 0 0.5px 0;
	-fx-border-color: #d1d1d1;
	-fx-border-insets: 0 0 -6px 0;
}

.signeEquipeTitledPane {
	-fx-font-family: fontello;
	-fx-font-size: 17px;
}

#panneauGauche .list-view {
	-fx-background-color: transparent;
}

#panneauGauche .list-cell {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-padding: 7px 0 7px 15px;
	-fx-text-fill: #9e9e9e;
	-fx-font-family: FontLight;
	-fx-font-size: 15px;
}

#panneauGauche .list-cell:odd {
	-fx-background-color: transparent;
	-fx-padding: 7px 0 7px 15px;
}

#panneauGauche .list-cell:filled:hover, #panneauGauche .list-cell:filled:odd:hover {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-border-insets: 2px 5px 2px 10px;
	-fx-padding: 7px 0 7px 15px;
}

#panneauGauche .list-cell:selected, #panneauGauche .list-cell:odd:selected {
	-fx-padding: 7px 0 7px 15px;
	-fx-background-color: #00bc47;
	-fx-background-radius: 3px;
	-fx-background-insets: 2px 5px 2px 10px;
	-fx-border-color: #009a3a;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-border-insets: 2px 5px 2px 10px;
	-fx-text-fill: white;
}

.instruction {
	-fx-font-family: FontLight;
	-fx-font-size: 16.5px;
}

.roleJoueur, .ageJoueur {
	-fx-font-family: FontLight;
	-fx-font-size: 12px;
}

.iconeJoueur {
	-fx-font-family: flaticon;
	-fx-font-size: 15px;
	-fx-text-fill: #d0d0d0;
}

.nomJoueur {
	-fx-font-family: FontRegular;
	-fx-font-size: 15px;
}

#barreMilieu .list-view {
	-fx-background-color: transparent;
	-fx-border-color: #d1d1d1;
	-fx-border-width: 0 0 0.5px 0;
}

#barreMilieu .list-cell {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-padding: 5px 20px 5px 20px;
}

#barreMilieu .placeholder2 {
	-fx-font-family: FontThin;
	-fx-font-size: 18px;
	-fx-text-fill: #d1d1d1;
}

#barreMilieu .list-cell:odd {
	-fx-background-color: transparent;
}

#barreMilieu .list-cell:filled:hover {
	-fx-border-color: #d1d1d1;
	-fx-border-radius: 3px;
	-fx-border-width: 0.5px;
	-fx-background-color: #f5f5f5;
	-fx-background-radius: 3px;
}

#barreMilieu .list-cell:filled:selected {
	-fx-background-color: #3b3b3b;
	-fx-border-color: #313131;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
}

#barreMilieu .list-cell:filled:selected .label,
#barreMilieu .list-cell:filled:selected:hover .label{
	-fx-text-fill: white;
}

/*
 * Barre recherche
 */
 
.recherche-box {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-padding: 3px 10px 3px 10px;
}
 
.champ-recherche {
	-fx-font-family: FontLight;
	-fx-font-size: 15px;
 	-fx-background-color: transparent;
 	-fx-highlight-fill: #00bc47;
    -fx-highlight-text-fill: white;
 	-fx-padding: 0;
}
 
.signe-recherche {
 	-fx-font-family: calendarfont;
 	-fx-font-size: 10px;
}

.infoMatch {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0.5px;
	-fx-border-radius: 3px;
	-fx-padding: 10px 20px 0 20px;
}

.recapMatch {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 0 0 0.5px 0;
	-fx-padding: 0 10px 10px 10px;
}

.scoreMatch {
	-fx-font-family: FontBold;
	-fx-font-size: 30px;
}

.titreMatch {
	-fx-font-family: FontRegular;
	-fx-font-size: 24px;
}

.etatEquipe {
	-fx-font-family: FontThin;
	-fx-font-size: 15px;
}

.texteTimer {
	-fx-font-family: FontRegular;
	-fx-font-size: 18px;
}

.recapLight {
	-fx-font-family: FontLight;
	-fx-font-size: 18px;
}

.miniNomEquipe {
	-fx-font-family: FontThin;
	-fx-font-size: 12px;
}

.recapNbr {
	-fx-font-family: FontThin;
	-fx-font-size: 18px;
}

.customListView {
	-fx-background-color: transparent;
	-fx-padding: 0;
}

.customListView .list-view,
.customListView .list-view:focused {
    -fx-background-color: transparent;
}

.customListView .list-cell {
	-fx-padding: 0px;
	-fx-background-color: transparent;
}

.customListView .list-cell:odd {
    -fx-background-color: transparent;
}

.customListView .list-cell:selected {
	-fx-text-fill: #292929;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
}

.actionLV {
	-fx-padding: 0 10px 0 10px;
}

.actionLV .list-cell {
	-fx-padding: 0 0 12px 0;
	-fx-font-family: FontLight;
	-fx-text-fill: #292929;
	-fx-font-size : 18px;
}

.placeholder {
	-fx-padding: 7px 0 7px 15px;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-text-fill: #9e9e9e;
	-fx-font-family: FontLight;
	-fx-font-size: 15px;
}